.helpButton {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: 20px;
  border: none;
  border-radius: 100%;
  outline: none;
  background-color: #BAD696;
  width: 70px;
  height: 70px;
  box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
  padding-top: 7px;
}

.helpButton:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.24)!important;
}

.helpButton span {
  color: #fff;
  font-size: 30px;
}

.helpBox {
  background-color: white;
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 1000;
  height: 500px;
  width: 350px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0,0,0,.16)!important;
}

.helpBox .help-header {
  background-color: #BBE2BC;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  padding-top: 25px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.helpBox .help-title {
  font-size: 30px;
  color: #fff;
  opacity: .9;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.helpBox .help-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #565867;
  background-color: #f0f3f5;
  resize: none;
  border: none;
  margin: 0;
  transition: background-color .2s ease,box-shadow .2s ease;
  border-radius: 0 0 10px 10px !important;
}

.helpBox .help-footer:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 100px 0 rgba(150,165,190,.24);
}

.help-body {
  height: 370px;
}

.helpBox .help-body {
  padding: 20px;
  overflow-y: scroll;
}

.helpBox .help-message-primary {
  clear: both;
  background-color: #E4F1C3;
  float: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 60%;
}

.helpBox .help-message-secondary {
  clear: both;
  background-color: #eee;
  float: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
}

.helpBox .help-message span {
  color: #000;
  opacity: .46
}

.helpBox .help-body-displayname {
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
  width: 100%;
}

.helpBox .help-body-displayname input {
  text-align: center;
  margin-bottom: 0;
}

.helpBox .help-body-displayname input:focus {
  border: 1px solid #ccc;
  outline: none;
}

.ti-angle-left {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
}


/* Fade Down Animation */
@-webkit-keyframes fadeInDown {
  0% {
   opacity: 0;
   -webkit-transform: translateY(-100px);
  }
  100% {
   opacity: 1;
   -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
   opacity: 0;
   transform: translateY(-100px);
  }
  100% {
   opacity: 1;
   transform: translateY(0);
  }
}

.animation-element.fade-down.in-view {
  animation-name: fadeInDown;
  animation-duration: 1s;
  opacity: 1;
}

/* Fade Up Animation */
@-webkit-keyframes fadeInUp {
  0% {
   opacity: 0;
   -webkit-transform: translateY(100px);
  }
  100% {
   opacity: 1;
   -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
   opacity: 0;
   transform: translateY(100px);
  }
  100% {
   opacity: 1;
   transform: translateY(0);
  }
}

.animation-element.fade-up.in-view {
  animation-name: fadeInUp;
  animation-duration: 1s;
  opacity: 1;
}

/* Fade Right Animation */
@-webkit-keyframes fadeInRight {
  0% {
   opacity: 0;
   -webkit-transform: translateX(-100px);
  }
  100% {
   opacity: 1;
   -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
   opacity: 0;
   transform: translateX(-100px);
  }
  100% {
   opacity: 1;
   transform: translateX(0);
  }
}

.animation-element.fade-left.in-view {
  animation-name: fadeInRight;
  animation-duration: 1s;
  opacity: 1;
}

/* Fade In Left */
@-webkit-keyframes fadeInLeft {
  0% {
   opacity: 0;
   -webkit-transform: translateX(100px);
  }
  100% {
   opacity: 1;
   -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
   opacity: 0;
   transform: translateX(100px);
  }
  100% {
   opacity: 1;
   transform: translateX(0);
  }
}

.animation-element.fade-right.in-view {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  opacity: 1;
}

nav {
  background-color: #6FBD43;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(173,173,173,0.52);
  -moz-box-shadow: 0px 0px 10px 3px rgba(173,173,173,0.52);
  box-shadow: 0px 0px 10px 3px rgba(173,173,173,0.52);
}

.nav-bar {
  border-bottom: none;
}

.menu li a {
  color: #fff;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .cover .slides h1 {
    padding-bottom: 20px;
  }

  .cover .slides:nth-child(2) .textcont:nth-child(1) {
    font-size: 56px;
  }
}